/* Put a library heading h1 and put New Book Button next to it 
   Add a plus sign into new Book button
   Make Changse Status Button look good
   Change delete button into trash icon
   Give cards a background color
   Style the new Book form */

#bookContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
}

.bookCard {
  border: 1px solid black;
  border-radius: 15px;
  padding: 1vw;
  padding-left: 2vw;
  margin: 1vw;
  font-size: 20px;
  line-height: 150%;
}

h2 {
  font-weight: bold;
  display: inline;
}

.toogleActive{
  border: solid 1px black;
  background-color: black;
  color: white;
  
}

.deleteContainer {
  margin-top: 10px;
  text-align: center;
}

.fa:hover {
  cursor:pointer;
}

table{
    margin: 0 auto;
}

#formTable td{
    text-align: left;
    padding-right: 20px;
}

#bookTable td, #bookTable th{
    border-color: green;
    border-style: solid;
    border-width: 2px;
    padding: 2px;
    text-align: center;
}

th{
    font-weight: bold;
}

#newBook, #createBook{
    margin-top: 30px;
    background-color: orange;
    padding: 2px;
    border: 1px grey solid;
}

#bookFormContainer{
    display: none;
}

#errorMessage{
    display: none;
    color: red;
    margin-bottom: 20px;
}

.readButton{
    width: 50px;
    line-height: 100%;
    border: solid 1px black;
}

