body{
  position: relative;
  background: url("img/books.jpg") center no-repeat;
}

h1{
  font-size: 400%;
  font-weight: bold;
  text-align: center;
  margin: 20px;
  color: #e27802;
  text-shadow: 2px 2px #6a492b;
} 

#bookContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
}

#bookAddDescription {
  display: block;
}

.bookCard, #newBook {
  border: 1px solid black;
  border-radius: 15px;
  padding: 1vw;
  padding-left: 2vw;
  margin: 1vw;
  font-size: 20px;
  line-height: 150%;
  background: rgba(226, 120, 2, 0.8);
  color: white;
}

#newBook{
  display:none;
  padding: 0;
}

h2 {
  font-weight: bold;
  display: inline;
}

.toogleActive{
  border: solid 1px black;
  background-color: black;
  color: white;
}

.deleteContainer {
  margin-top: 10px;
  text-align: center;
}

.fa:hover {
  cursor:pointer;
}

#blurContainer{
  position: absolute;
  margin-top: -20px;
  width: 100vw;
  height: 100vh;
  background-color:rgba(106, 73, 43, 0.7);
  display: none;
  z-index: 2;
}

#bookFormContainer{
  background-color:rgba(106, 73, 43, 1);
  z-index: 5;
  padding-right: 25vw; 
  padding-left: 25vw;
  padding-top: 15vh;
  padding-bottom: 5vh;
  border: 1px solid black;
  border-radius: 15px;
  font-size: 20px;
  line-height: 150%;
  color: white;
  display: none;
  /* from https://css-tricks.com/centering-css-complete-guide/ */
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

#createBook{
    display: block;
    background-color: rgba(226, 120, 2, 1);;
    padding: 2px;
    border: 1px grey solid;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 5px;
}

#errorMessage{
    display: none;
    color: red;
    margin-bottom: 20px;
}

.readButton{
    width: 50px;
    line-height: 100%;
    border: solid 1px black;
}

select{
  font-size: 20px;
}

input {
  width: 300px;
}

